
<!DOCTYPE html>

{% load static %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>A320 Landing Performance Web Application</title>

    <link rel="stylesheet" href="{% static 'Vappwf/main.css' %}">
</head>

<header>
    <h1>A320/321 Landing Performance Calculator</h1>
</header>

<body>


    <h3>Fill in the following fields. When you're done, click "Submit":</h3>

    <form>
        <label id="id_tail_number" for="tailnumber">Enter your tail number:</label>
        <input type="text" name="tailnumber">
    </form>

    <form>

        <p>What ECAM message are you receiving?</p>
        <select id="ECAM" onchange="location = this.value">
            <option id="select" value="#">Select your ECAM message</option>
            <option id="blank" value="#"></option>
            <option id="ELECTRICAL SYSTEM" value="#">ELECTRICALSYSTEM</option>
            <option id="acbus1fault" value="#">AC BUS 1 FAULT</option>
            <option id="acbus2fault" value="#">DC BUS 2 FAULT</option>
            <option id="dcbus12fault" value="#">DC BUS 1+2 FAULT</option>
            <option id="dcessbusfault" value="#">DC ESS BUS FAULT (if ice accretion)</option>
            <option id="dcessshedbus" value="#">DC ESS SHED BUS (if ice accretion)</option>
            <option id="dcemerconfig" value="#">DC EMER CONFIG (REF DIST calculated w/140kts min)</option>
            <option id=elecemerconfig" value="#">ELEC EMER CONFIG (REF DIST calculated w/140kts min)</option>
            <option id="blank" value="#"></option>
            <option id="flightcontrols" value="#">FLIGHT CONTROL SYSTEM</option>
            <option id="onesplrfault" value="#">ONE SPLR FAULT (if no spoiler runaway suspected)</option>
            <option id="onesplrfault" value="#">ONE SPLR FAULT (if spoiler runaway suspected)</option>
            <option id="twosplrfault" value="#">TWO SPLR FAULT</option>
            <option id="gndsplr1234fault" value="#">GND SPLR 1+2(3+4) FAULT</option>

        </select>

    </form>


        <!--

        <label for="currentweight">Current Weight (x1000lb):</label>
        <input type="number" name="currentweight">

        <label for="cg">Takeoff CG:</label>
        <input type="number" name="cg">

        <label for="wind">Wind (<em>Enter METAR or tower-observed current wind on the field</em>></label>
        <input class="windfield" type="number" name="wind direction" placeholder="direction">
        /
        <input class="windfield" type="number" name="wind velocity" placeholder="velocity">

        <label for="ecam">ECAM Top Message <em>(type top line warning exactly as it appears)</em>:</label>
        <input id="ecamexample" type="text" name="ecam" placeholder="ex: ELEC GEN 1(2) (APU GEN) OVERLOAD">

        -->



        <input id="submit" type="submit" value="Submit">

        <h3> <em>V<sub>APP</sub></em>: _______ kts</h3>
        <h3> <em>V<sub>REF</sub></em>: _______ kts</h3>
        <h3 id="result">Required landing distance: _______  ft</h3>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="js/scripts.js"></script>
</body>

</html>



